 <div class="header">
	 <nav class="navbar navbar-expand-sm justify-content-left">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
		<ul class="navbar-nav">
			{% if logged_in %}
			<!--<li><p class="navbar-text">{{ session['user_data']['name']}}</li>-->
			<li><p class="nav-link f30"> Username: {{ session['user_data']['login']}}</p></li>
			{% endif %}
			{% if logged_in %}
			<li class="nav-item">
				<a class="nav-link f30" href="/logout">Logout</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link f30" href="/login">Login</a>
			</li>
			{% endif %}
		</li>
	  </ul>
	</nav>
</div>